<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.takeout.mapper.OrderItemMapper">

    <insert id="insert" parameterType="com.takeout.entity.OrderItem">
        INSERT INTO order_item (order_id, dish_id, dish_name, price, quantity)
        VALUES (#{orderId}, #{dishId}, #{dishName}, #{price}, #{quantity})
    </insert>

    <insert id="batchInsert" parameterType="list">
        INSERT INTO order_item (order_id, dish_id, dish_name, price, quantity) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.orderId}, #{item.dishId}, #{item.dishName}, #{item.price}, #{item.quantity})
        </foreach>
    </insert>

    <select id="findByOrderId" resultType="com.takeout.entity.OrderItem">
        SELECT id, order_id, dish_id, dish_name, price, quantity
        FROM order_item WHERE order_id = #{orderId}
    </select>
</mapper>
