<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.takeout.mapper.UserProfileMapper">

    <select id="findById" resultType="com.takeout.entity.UserProfile">
        SELECT id, name, tags, history_orders_count, favorite_category
        FROM user_profile WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.takeout.entity.UserProfile">
        INSERT INTO user_profile (id, name, tags, history_orders_count, favorite_category)
        VALUES (#{id}, #{name}, #{tags}, #{historyOrdersCount}, #{favoriteCategory})
    </insert>

    <update id="update" parameterType="com.takeout.entity.UserProfile">
        UPDATE user_profile
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="tags != null">tags = #{tags},</if>
            <if test="historyOrdersCount != null">history_orders_count = #{historyOrdersCount},</if>
            <if test="favoriteCategory != null">favorite_category = #{favoriteCategory},</if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>
